<!DOCTYPE html>
<html>
<head>
    <title>Video Streaming App</title>
    <style>
        #stream {
            width: 640px;
            height: 480px;
        }
        #buttons {
            float: left;
        }
        #stream-container {
            float: right;
        }
    </style>
</head>
<body>
    <div id="buttons">
        <h2>Commands:</h2>
        <form action="/execute" method="post">
            <button type="submit" name="command" value="curl http://172.21.116.51/gp/gpWebcam/SETTINGS?bitrate=1000000">Button 1</button>
            <br><br>
            <button type="submit" name="command" value="curl http://172.21.116.51/gp/gpWebcam/SETTINGS?fov=6">Button 2</button>
            <br><br>
            <button type="submit" name="command" value="curl 'http://172.21.116.51/gp/gpWebcam/START?res=1080'">Button 3</button>
        </form>
    </div>
    <div id="stream-container">
        <h2>Video Stream:</h2>
        <img id="stream" src="http://0.0.0.0:8554" alt="Video Stream">
    </div>
</body>
</html>
